@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
@keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-loading {
    width: 100%;
    animation: loading 1.5s linear infinite;
  }
@layer components {
    .scrollbar {

      &::-webkit-scrollbar {
        width: 0.1rem; 
        height: 0.7rem;
      }
  
      &::-webkit-scrollbar-track {
        background: rgb(0, 0, 0);
        height: 10rem;
        border-radius:1rem ;
        -webkit-border-radius:1rem ;
        -moz-border-radius:1rem ;
        -ms-border-radius:1rem ;
        -o-border-radius:1rem ;
}
  
      &::-webkit-scrollbar-thumb {
        background-color: blue;
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(84, 84, 243); 
      }
      scrollbar-color: blue; 
    }
  }
    